body {
  /* background-image: radial-gradient(#212121 5%, transparent 5%), radial-gradient(#FAFAFA 5%, transparent 5%);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px; */
  /* background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/denim.png); */
  background-color: black;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
p{
  color:#F1E9DB;
  margin: 0;
  font-family: Gabarito;
  font-size: 30px;
}
h1, h2{
  color:#F1E9DB;
  font-family: Gabarito;
  align-self: center;
  justify-self: center;
  grid-column-start: 2;
}
.headerTitle{
  grid-column: 1;
  grid-row: 1;
  color: #F1E9DB;
}
.leftCardContainer{
display: flex;
flex-direction: column;
align-items: center;
grid-column: 2;
grid-row: 3;
gap: 10px;
}
.aboutMeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 2;

}
.projectsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 4;
}

.aboutMeBtn, .projectsBtn {
  height: 40px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: Gabarito;
  font-size: 60px;
  background: linear-gradient(to right, black, white); 
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.3s ease;
  padding: 15px;
  position: relative;
}

.aboutMeBtn:hover, .projectsBtn:hover {
  background-position: 0 0; 
  color: white; 
  text-decoration: underline; 
}


.whiteLine{
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(56, 56, 56)); 
}
.mainBody{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: repeat(8, 1fr);
}
.cardTitle{
  font-size: 46px;
}

/* About Me */
.abtMeH1{
  margin-top: 3%;
  text-align: center;
}
.abtMeH2{
  color: #F1E9DB;
}
.aboutMeBody{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.aboutMeTextContainer{
  max-width: 40%; /* Make the text container take up the full width */
  margin: 0 auto; /* Center the text container horizontally */
}